/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

div.dashboard-box {
}

div.dashboard-box div.value-sum {
    font-size: 400%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.dashboard-box div.value-sum sup {
    font-size: 60%;
}


table.expense-list tr td {
    padding-top: 3px;
}

table.expense-list tr td.currency {
    padding-top: 15px;
    height: 60px;
}

table.expense-list td.currency span {
    font-weight: lighter;
    font-size: 150%;
    padding:  7px 10px;
}

table.expense-list td.currency span sup {
    font-size: 60%;
    margin-left: 3px;
}

table.expense-list tr td.main a {
    font-size: 110%;
}

table.expense-list tr td.main span.account {
    font-size: 90%;
    color: #555;
}

table.expense-list tr td.main span.comment {
    color: #888;
}
