/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

div.dashboard-box {
}

div.dashboard-box div.value-sum {
    font-size: 400%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.dashboard-box div.value-sum sup {
    font-size: 60%;
}
