Django==1.7.1
Fabric==1.10.0
dj-static==0.0.6
django-bootstrap3==4.11.0
django-extensions==1.4.5
django-jquery==1.9.1
ecdsa==0.11
gunicorn==19.1.1
paramiko==1.15.1
pycrypto==2.6.1
six==1.8.0
static3==0.5.1
wsgiref==0.1.2
