{% extends "base.html" %}
{% load mybudget_extras %}
{% load bootstrap3 i18n %}


{% block content %}

<h2>{% trans "Categories" %}</h2>

<p>
    <div class="row">
        <div class="col-md-4 text-left">
            <a href="{% url 'category_add' %}" class="btn btn-success">
                {% bootstrap_icon "plus" %} {% trans "New category" %}
            </a>
        </div>
    </div>
</p>

<div class="panel panel-default">
    <table class="table">
        <tr>
            <th></th>
            <th></th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Description" %}</th>
            <th>{% trans "Super Category" %}</th>
        </tr>
        {% for category in object_list %}
        <tr>
            <td>
                <a href="{% url 'category_update' category.pk %}">{% trans "Edit" %}</a> / 
                <a href="{% url 'category_delete' category.pk %}">{% trans "Delete" %}</a>
            </td>
            <td>
                {% if category.icon %}
                {% fa_icon category.icon %}
                {% endif %}
            </td>
            <td>{{ category.name }}</td>
            <td>{{ category.description|max_length_string:35 }}</td>
            <td>{{ category.super_category }}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="panel-footer">
        <h3 class="panel-title">
            {% blocktrans %}There are {{ category_count }} categories.{% endblocktrans %}
        </h3>
    </div>
</div>

{% endblock %}
