{% extends "base.html" %}
{% load bootstrap3 i18n  %}
{% load mybudget_extras %}

{% block content %}
{% if object %}
    <h2>{% trans "Update Category" %}</h2>
{% else %}
    <h2>{% trans "Create Category" %}</h2>
{% endif %}

<form action="" method="post" role="form" class="form form-horizontal" >
    {% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% bootstrap_form_errors form %}
        </div>
        <div class="panel-body">
            {% bootstrap_form form layout='horizontal' %}
        </div>
        <div class="panel-footer">
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                {% if object %}
                    {% fa_icon "pencil" %} {% trans "Update Category" %}
                {% else %}
                    {% fa_icon "plus" %} {% trans "Create Category" %}
                {% endif %}
                </button>
            {% endbuttons %}
        </div>
    </div>
</form>
{% endblock %}
