{% extends "base.html" %}
{% load mybudget_extras %}

{% block content %}
    <h2>Categories</h2>
    <p>
        <a href="{% url 'category_add' %}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
            Create new category
        </a>
    </p>
    <table class="table table-striped">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Super Category</th>
            <th>Sum</th>
            <th>Total sum</th>
        </tr>
        {% for category in object_list %}
        <tr>
            <td>
                <a href="{% url 'category_update' category.pk %}">Edit</a> / 
                <a href="{% url 'category_delete' category.pk %}">Delete</a>
            </td>
            <td>{{ category.name }}</td>
            <td>{{ category.description|max_length_string:35 }}</td>
            <td>{{ category.super_category }}</td>
            <td>{{ category.get_expense_sum|currency }} &euro;</td>
            <td>{{ category.get_total_expense_sum|currency }} &euro;</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
