{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
{% if object %}
    <h2>Update Category</h2>
{% else %}
    <h2>Create Category</h2>
{% endif %}

<form action="" method="post" role="form" class="form" >
    {% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% bootstrap_form_errors form %}
        </div>
        <div class="panel-body">
            {% bootstrap_form form %}
        </div>
        <div class="panel-footer">
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                {% if object %}
                    {% bootstrap_icon "pencil" %} Update Category
                {% else %}
                    {% bootstrap_icon "plus" %} Create Category
                {% endif %}
                </button>
            {% endbuttons %}
        </div>
    </div>
</form>
{% endblock %}
