{% extends "base.html" %}
{% load mybudget_extras %}
{% load bootstrap3 %}

{% block content %}

<h2>{% bootstrap_icon "dashboard" %} Dashboard</h2>

<div class="container-fluid">
    <div class="row">
        {% include 'mybudget/dashboard/form.html' with form=create_expense_form csrf_token=csrf_token %}
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            {% include 'mybudget/dashboard/box.html' with sum=sum_today sum_all=sum_all_today days=1 title="Today" color="success" %}
        </div>
        <div class="col-md-3">
            {% include 'mybudget/dashboard/box.html' with sum=sum_7days sum_all=sum_all_7days days=7 title="Last 7 days" color="info" %}
        </div>
        <div class="col-md-3">
            {% include 'mybudget/dashboard/box.html' with sum=sum_30days sum_all=sum_all_30days days=30 title="Last 30 days" color="warning" %}
        </div>
        <div class="col-md-3">
            {% include 'mybudget/dashboard/box.html' with sum=sum_90days sum_all=sum_all_90days days=90 title="Last 90 days" color="danger" %}
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            {% include 'mybudget/dashboard/expenses.html' with expenses=last_expenses %}
        </div>

        <div class="col-md-4">
            {% include 'mybudget/dashboard/categories.html' with categories=top_categories %}
        </div>

        <div class="col-md-3">
            {% include 'mybudget/dashboard/summary.html' with months=month_summary weeks=week_summary days=day_summary %}
        </div>

    </div>
</div>

{% endblock %}
