{% extends "base.html" %}
{% load mybudget_extras %}
{% load bootstrap3 %}
{% load humanize %}

{% block content %}

<h2>{% bootstrap_icon "dashboard" %} Dashboard</h2>

<div class="container-fluid">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <form action="{% url 'expense_add' %}" method="post" role="form" class="form-inline" >
                    {% csrf_token %}
                    {% bootstrap_form create_expense_form layout='inline' %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "plus" %} Create Expense
                    </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-success dashboard-box">
                <div class="panel-heading">
                    <h3 class="panel-title">Today</h3>
                    <div class="value-sum text-center">
                        {% currency sum_today %}
                    </div>
                    {% if sum_all_today %}
                    <p class="value-sum text-center">
                    All accounts: <strong>{% currency sum_all_today %}</strong>
                    </p>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <div class="text-right">
                        <a href="{% url 'expense_list' %}?age_in_days=1">
                            Show expenses {% bootstrap_icon "circle-arrow-right" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info dashboard-box">
                <div class="panel-heading">
                    <h3 class="panel-title">Last 7 days</h3>
                    <div class="value-sum text-center">
                        {% currency sum_7days %}
                    </div>
                    {% if sum_all_7days %}
                    <p class="value-sum text-center">
                    All accounts: <strong>{% currency sum_all_7days %}</strong>
                    </p>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <div class="text-right">
                        <a href="{% url 'expense_list' %}?age_in_days=7">
                            Show expenses {% bootstrap_icon "circle-arrow-right" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-warning dashboard-box">
                <div class="panel-heading">
                    <h3 class="panel-title">Last 30 days</h3>
                    <div class="value-sum text-center">
                        {% currency sum_30days %}
                    </div>
                    {% if sum_all_30days %}
                    <p class="value-sum text-center">
                    All accounts: <strong>{% currency sum_all_30days %}</strong>
                    </p>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <div class="text-right">
                        <a href="{% url 'expense_list' %}?age_in_days=30">
                            Show expenses {% bootstrap_icon "circle-arrow-right" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Recent expenses</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        {% for exp in last_expenses %}
                        <tr>
                            <td>
                                {% if exp.category.icon %}
                                {% fa_icon exp.category.icon "fa-1x" %}&nbsp;
                                {% endif %}
                            </td>
                            <td>
                                {% currency exp.amount %}
                            </td>
                            <td>
                                {{ exp.category.name }}
                            </td>
                            <td>{{ exp.account.user }}</td>
                            <td style="text-align: right">
                                {{ exp.date|naturalday }}
                            </td>
                            <td>
                                <a href="{% url 'expense_details' exp.id %}">
                                    {% bootstrap_icon "circle-arrow-right" %}
                                </a> 
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <h3>TODO: Top categories</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>amount</td>
                            <td>comment</td>
                        </tr>
                        <tr>
                            <td>amount</td>
                            <td>comment</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Monthly summary</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        {% for line in month_report %}
                        <tr>
                            <td>{{ line.date|date:"M. Y" }}</td>
                            <td>{{ line.count }}</td>
                            <td>{{ line.sum|floatformat:"0"}} &euro;</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
