{% extends "base.html" %}
{% load mybudget_extras %}
{% load bootstrap3 %}


{% block content %}

<h2>Expenses</h2>

<p>
    <div class="row">
        <div class="col-md-4 text-left">
            <a href="{% url 'expense_add' %}" class="btn btn-success">
                {% bootstrap_icon "plus" %} New expense
            </a>
        </div>
        <div class="col-md-8 text-right">
            <form action="{% url 'expense_list' %}" method="get" class="form-inline" role="form">
                {% bootstrap_form filter_form layout='inline' %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "filter" %} Filter
                </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</p>

<div class="panel panel-default">
    <table class="table">
        <tr>
            <th></th>
            <th>Date</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Account</th>
            <th>Is shared?</th>
            <th>Comment</th>
        </tr>
        {% for expense in object_list %}
        <tr>
            <td>
                <a href="{% url 'expense_update' expense.pk %}">Edit</a> / 
                <a href="{% url 'expense_delete' expense.pk %}">Delete</a>
            </td>
            <td>{{ expense.date }}</td>
            <td>{{ expense.amount|floatformat:"2" }} &euro;</td>
            <td>{{ expense.category.name }}</td>
            <td>{{ expense.account }}</td>
            <td>
            {% if expense.is_shared  %}
                {% bootstrap_icon "ok" %}
            {% endif %}
            </td>
            <td>{{ expense.comment|max_length_string:35 }}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="panel-footer">
        <h3 class="panel-title">There are {{ expenses_count }} expenses with a sum of {{ expenses_sum }} &euro;</h3>
    </div>
</div>

{% if show_link_to_all_expenses %}
    <a href="{% url 'expense_list' %}" class="btn btn-default">
        {% bootstrap_icon "list" %} Show all expenses
    </a>
{% endif %}

{% endblock %}
