{% extends "base.html" %}
{% load mybudget_extras %}
{% load bootstrap3 humanize i18n %}

{% block content %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function( $ ) {
        new Morris.Bar({
            element: 'graph',
            data: [
            {% for data in chart_data %}
            { 
                month: '{{ data.date|date:'M Y' }}',
                {% for name, value in data.accounts.items %}
                {{ name }}: {{ value }},
                {% endfor %}
            },
            {% endfor %}
            ],
            //xLabelFormat: function(d) {
            //    return d.getDate()+'.'+(d.getMonth()+1)+'.'+d.getFullYear(); 
            //},
            // events: [ '2014-01-01' ],
            // eventStrokeWidth: 10.0,
            postUnits: ' €',
            eventLineColors: ['#005a04', '#ccffbb', '#3a5f0b', '#005502'],
            barColors: ['#428bca', '#5cb85c', '#5bc0de', '#f0ad4e', '#d9534f'],
            stacked: true,
            // The name of the data record attribute that contains x-values.
            xkey: 'month',
            ykeys: [{% for name in chart_accounts %}'{{ name }}', {% endfor %}],
            labels: [{% for name in chart_labels %}'{{ name }}', {% endfor %}],
        }).on('click', function(i, row){
            console.log(i, row);
        });
    });
</script>

<h2>{% trans "Expenses for month" %} {{ month|date:"M  Y" }}</h1>
<div id="graph" style="height: 250px;"></div>


<nav>
    <ul class="pager">
        <li class="previous">
            <a href="{% url "expense_archive_month" year=previous_month.year month=previous_month|date:"m" %}">
                <span aria-hidden="true">&larr;</span> {% trans "Previous month" %}
            </a>
        </li>
        <li class="next">
            <a href="{% url "expense_archive_month" year=next_month.year month=next_month|date:"m" %}">
                {% trans "Next month" %}<span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>

{% include 'mybudget/_list_expenses.html' with expenses_list=object_list %}

{% endblock %}
