{% extends "base.html" %}
{% load mybudget_extras %}
{% load bootstrap3 humanize i18n %}

{% block content %}

<h2>{% trans "Expenses" %}</h2>

<p>
    <div class="row">
        <div class="col-md-4 text-left">
            <a href="{% url 'expense_add' %}" class="btn btn-success">
                {% fa_icon "plus" %} {% trans "New expense" %}
            </a>
        </div>
        <div class="col-md-8 text-right">
            <form action="{% url 'expense_list' %}" method="get" class="form-inline" role="form">
                {% bootstrap_form filter_form layout='inline' %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% fa_icon "filter" %} {% trans "Filter" %}
                </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</p>


<div class="panel panel-default">
    <div class="panel-footer">
        <h3 class="panel-title">
            {% blocktrans %}There are {{ expenses_count }} expenses with a sum of {{ expenses_sum }} &euro;{% endblocktrans %}
        </h3>
    </div>
    {% include 'mybudget/_list_expenses.html' with expenses_list=object_list %}
</div>

{% if is_paginated %}
    <div class="text-center">
        {% load bootstrap_pagination %}
        {% bootstrap_paginate page_obj range=15 show_first_last="true" %}
    </div>
{% endif %}

{% endblock %}
