{% extends "base.html" %}
{% load mybudget_extras %}
{% load bootstrap3 %}


{% block content %}

{% if object %}
    <h2>Update Expense</h2>
{% else %}
    <h2>Create Expense</h2>
{% endif %}

<form action="" method="post" role="form" class="form form-horizontal" >
    {% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% bootstrap_form_errors form %}
        </div>
        <div class="panel-body">
            {% bootstrap_form form layout='horizontal'%}
        </div>
        <div class="panel-footer">
            {% buttons %}
                {% if object %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "pencil" %} Update Expense
                    </button>
                    <a href="{% url 'expense_delete' expense.pk %}" class="btn btn-danger">
                        {% fa_icon "warning" %} Delete expense
                    </a>
                {% else %}
                    <button type="submit" class="btn btn-success">
                        {% bootstrap_icon "plus" %} Create Expense
                    </button>
                {% endif %}
            {% endbuttons %}
        </div>
    </div>
</form>

{% endblock %}
