{% extends "base.html" %}
{% load mybudget_extras %}
{% load bootstrap3 %}
{% load humanize %}

{% block content %}

<h2>Expenses</h2>

<p>
    <div class="row">
        <div class="col-md-4 text-left">
            <a href="{% url 'expense_add' %}" class="btn btn-success">
                {% bootstrap_icon "plus" %} New expense
            </a>
        </div>
        <div class="col-md-8 text-right">
            <form action="{% url 'expense_list' %}" method="get" class="form-inline" role="form">
                {% bootstrap_form filter_form layout='inline' %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "filter" %} Filter
                </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</p>


<div class="panel panel-default">
    <table class="table expense-list">
        <tr>
            <th class="currency-col"></th>
            <th class="icon-col"></th>
            <th class="main-col">Expense</th>
            <th>Shared?</th>
            <th class="date-col">Date</th>
            <th class="tags-col">Tags</th>
        </tr>
        {% for expense in object_list %}
        <tr>
            <td class="currency-col">
                <span class="label label-primary">
                    {% currency expense.amount %}
                </span>
            </td>
            <td class="icon-col">
                {% if expense.category.icon %}
                    {% fa_icon expense.category.icon "fa-2x" %}
                {% endif %}
            </td>
            <td class="main-col">
                <a href="{% url 'expense_update' expense.pk %}">
                    <strong>{{ expense.category.name }}</strong>
                </a> &mdash; <span class="account">{{ expense.account.name }}</span><br />
                <span class="comment">{{ expense.comment|max_length_string:70 }}</span>
            </td>
            <td>
                {% if expense.is_shared  %}
                    {% bootstrap_icon "ok" %}
                {% endif %}
            </td>
            <td class="date-col">
                {{ expense.date|naturalday }}
            </td>
            <td class="tags-col">
                {% for tag in expense.tags.all %}
                    <span class="label label-default">{{ tag }}</span>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="panel-footer">
        <h3 class="panel-title">There are {{ expenses_count }} expenses with a sum of {{ expenses_sum }} &euro;</h3>
    </div>
</div>



{% if show_link_to_all_expenses %}
    <a href="{% url 'expense_list' %}" class="btn btn-default">
        {% bootstrap_icon "list" %} Show all expenses
    </a>
{% endif %}

{% endblock %}
