{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n  %}
{% load mybudget_extras %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
{% bootstrap_css %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/style.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap-datepicker/css/datepicker.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap-select/dist/css/bootstrap-select.css">
<script type="text/javascript" src="{{ STATIC_URL }}jquery/dist/jquery.min.js"></script>
{% bootstrap_javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap-select/dist/js/bootstrap-select.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function( $ ) {
        $('.selectpicker').selectpicker({ iconBase: 'fa', tickIcon: 'fa-check-square' });
        $('.radio-tab label.btn').click(function () {
            $(this).find('input').tab('show');
        });
    });

    $.fn.datepicker.defaults.todayBtn = "linked";
    $.fn.datepicker.defaults.format = "dd.mm.yyyy";
    $.fn.datepicker.defaults.autoclose = true;
    $.fn.datepicker.defaults.todayHighlight = true;
    $.fn.datepicker.defaults.weekStart = 1;
    $.fn.datepicker.defaults.calendarWeeks = true;
</script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
<!-- Container -->
    {% block header %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'start' %}">MyBudget</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'expense_list' %}?age_in_days=30">{% trans "Expenses" %}</a></li>
                <li><a href="{% url 'category_list' %}">{% trans "Categories" %}</a></li>
                <li><a href="{% url 'tag_list' %}">{% trans "Tags" %}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                         Logged in as <strong>{{ user.username }} </strong>
                    </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#">
                            {% fa_icon "user" %}&nbsp;&nbsp;{% trans "Profile" %} (TODO)
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {% bootstrap_icon "cog" %}&nbsp;&nbsp;{% trans "Settings" %} (TODO)
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{% url 'logout' %}">
                            {% bootstrap_icon "log-out" %}&nbsp;&nbsp;{% trans "Logout" %}</a>
                    </li>
                </ul>
                </li>
            </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    {% endblock %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div class="container">
        <div id="content" class="{% block coltype %}colM{% endblock %}">
            {% if title and subtitle %}
            <div class="page-header">
                <h1>{{ title }} <small>{{ subtitle }}</small></h1>
            </div>
            {% endif %}
            {% block content %}
            {{ content }}
            {% endblock %}
            <br class="clear" />
        </div>

    <!-- END Content -->

    <hr /> 
    {% block footer %}
        <div id="footer">
        </div>
    {% endblock %}
    </div>

</body>
</html>

