{% load i18n %}
{% load mybudget_extras %}

<div class="panel">

    <div class="panel-heading">
        <h3>{% trans "Top categories" %}</h3>
        <div class="btn-group radio-tab" data-toggle="buttons">
            {% for days, categories in categories.items %}
            <label class="btn btn-default{{ forloop.first|yesno:" active," }}" for="{{ prefix }}_optCategories{{ days }}days">
                {% blocktrans %}{{ days }} days{% endblocktrans %}
                <input id="{{ prefix }}_optCategories{{ days }}days" type="radio" data-target="#{{ prefix }}_top_categories_{{ days }}days" autocomplete="off">
            </label>
            {% endfor %}
        </div>
    </div>

    <div class="panel-body">
        <div class="tab-content">
            {% for days, categories in categories.items %}
            <div role="tabpanel" class="tab-pane {{ forloop.first|yesno:"active," }}" id="{{ prefix }}_top_categories_{{ days }}days">
                <table class="table">
                    {% for c in categories %}
                    <tr>
                        <td>{{ forloop.counter }}.</td>
                        <td>{{ c.category__name }}</td>
                        <td>{% currency c.amount_sum %}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
