{% load mybudget_extras %}

<div class="panel">

    <div class="panel-heading">
        <h3>Summary</h3>
        <div class="btn-group radio-tab" data-toggle="buttons">
            <label class="btn btn-default" for="{{ prefix }}_optDaily">Daily
                <input id="{{ prefix }}_optDaily" type="radio" data-target="#{{ prefix }}_summary_daily" autocomplete="off">
            </label>
            <label class="btn btn-default" for="{{ prefix }}_optWeekly">Weekly
                <input id="{{ prefix }}_optWeekly" type="radio" data-target="#{{ prefix }}_summary_weekly" autocomplete="off">
            </label>
            <label class="btn btn-default active" for="{{ prefix }}_optMonthly">Monthly
                <input id="{{ prefix }}_optMonthly" type="radio" data-target="#{{ prefix }}_summary_monthly" autocomplete="off">
            </label>
        </div>
    </div>

    <div class="panel-body">
        <div class="tab-content">
            <div id="{{ prefix }}_summary_daily" class="tab-pane" >
                TODO
                <table class="table">
                    {% for line in days %}
                    <tr>
                        <td>{{ line.date }}</td>
                        <td>{{ line.count }}</td>
                        <td>{% currency_simple line.amount_sum %}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div id="{{ prefix }}_summary_weekly" class="tab-pane" >
                TODO
                <table class="table">
                    {% for line in weeks %}
                    <tr>
                        <td>{{ line.date }}</td>
                        <td>{{ line.count }}</td>
                        <td>{% currency_simple line.amount_sum %}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div id="{{ prefix }}_summary_monthly" class="tab-pane active" >
                <table class="table">
                    {% for line in months %}
                    <tr>
                        <td>{{ line.date|date:"M. Y" }}</td>
                        <td>{{ line.count }}</td>
                        <td>{% currency_simple line.amount_sum %}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

</div>
